
.contenedorCon {
  background-color: rgba(0, 0, 0, 6) ; 
  font-size: 20px; 
  color: white;
  padding: 5%;
  border-bottom: solid 3px gold;
  box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.7);
  border-top: solid 5px gold;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
  border-top: 2px solid white;
}
